<header>
    <div class="header-title">
        <div class="header-title__inner">
            <div class="header-title__left">
                <h1>მაღაზია</h1>
            </div>

            <div class="header-title__right">
                <h1>მენეჯერი</h1>
            </div>            
        </div>

        <div class="showBookStore" >
            <div class="img-logo">
            <img src="assets/logo.svg" alt="">
            </div>

            <span>წიგნების ჩამონათვალი :</span>
        </div>

    </div>
</header>

